.logo {
  border-radius: 25px;
  height: 3rem;
  width: 15rem;

  margin-left: 0px;
  margin-right: 35px;
}
.title {
  margin-right: 2rem;
  font-family: 'Times New Roman', Times, serif;
  animation: animacao 2s infinite;
}

@keyframes animacao {
  50% {
    opacity: 0;
  }
}

.styleButton:hover {
  background-color: rgb(231, 227, 227);
  color: black;
  transform: scale3d(1.5);
  transition: 1s;
  border-radius: 200px 200px 200px 200px;
  -moz-border-radius: 200px 200px 200px 200px;
  -webkit-border-radius: 200px 200px 200px 200px;
  border: 1px solid #000000;
}
.styleButton {
  display: flex;
  align-items: center;
  font-weight: 500;
}
.link {
  text-decoration: none;
  color: var(--bs-nav-link-color);
}
.link:hover {
  color: black;
}
.registration {
  display: flex;
  margin-left: 45px;
  margin-right: 15px;
}
.loggin {
  display: flex;
  margin-left: 15px;
  margin-right: 15px;
}
@media screen and (max-width: 990px) {
}
