* {
  margin: 0;
  padding: 0;
}
body {
  background-image: repeating-conic-gradient(
    #333 0deg 10deg,
    #bfc0d0 10deg 20deg,
    #e7e9eb 20deg 30deg
  );
  background-repeat: no-repeat;
  background-size: cover;
}
